.search {
    max-width: 500px;
    min-width: 400px;
    height: 35px;
    background-color: rgb(220, 220, 220);
    padding: 0px;
    border-radius: 5px;
    position: relative;
    margin-top: -2px;
}

.searchbar {
    width: 93%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 23px;
    position: absolute;
    left: 0;
    outline: none;
    border: none;
}

.search_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.search:focus-within {
    box-shadow: 0 0 2px 2px rgb(0, 162, 255);
    background-color: white;
}

.searchbar:focus {
    background-color: white;
}