.Container {
    padding: 0px;
    margin: 0px;
}

.topNavi {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    height: 50px;
    z-index: 1;
}

.MainContainer {
    padding-top: 50px;
    width: 100%;

}

.botMusic {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #bcbcbc;
}