.topNavi {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    height: 50px;
}

.MainContainer {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}

.botMusic {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #1e1e1e;
}