.Carousel {
    position: relative;
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10px;
}

.OwlCarousel .item {
    position: relative;
    width: 180px;
    height: 250px;
    z-index: 100;
    backface-visibility: hidden;
}

.carouselButton {
    position: relative;
    z-index: 100;
}

.owlPrev {
    position: absolute;
    top: -158px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    left: 3px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owlNext {
    position: absolute;
    top: -158px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    right: 3px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselSinger {
    color: #c9c9c9;
    font-size: 0.8rem;
    font-weight: 500;
    float: left;
}

.carouselTitle {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.carouselTitle1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 30px;
}

.item {
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 150px;
  }

  .item img{
    width: 150px;
    height: 180px;
    transition: transform 0.2s; /* hover 시 애니메이션 효과를 위한 설정 */
  }
  
  .item img:hover {
    transform: scale(1.05); /* hover 시 확대 효과 */
  }

  .carouselTitle{
    height: 50px;
    overflow: hidden;
  }

  .audioPath{
    display: none;
  }

  .track_writer{
    width: 60%;
    float: left;
  }

  .play_button{
    position: absolute;
    bottom: 10px;
    left: 130px;
    color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s; /* hover 시 애니메이션 효과를 위한 설정 추가 */
  }

.play_button:hover {
    transform: scale(1.2); /* hover 시 확대 효과 */
    color: #FF4081;
}