.Carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10px;
}

.OwlCarousel .item {
    position: relative;
    width: 230px;
    height: 300px;
    z-index: 100;
    backface-visibility: hidden;
}

.imgHover {
    border: 1px solid #e0e0e0;
    width: 230px !important;
    height: 230px !important;
    position: relative;
}

.nonImageHover {
    border: 1px solid #e0e0e0;
    width: 230px !important;
    height: 230px !important;
    position: relative;
}

.imgHover:hover {
    border: 1px solid #999999;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, white 40%) !important;
}

.imgHover:hover .trackImg {
    opacity: 0.8;
}

.trackImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carouselButton {
    position: relative;
    z-index: 100;
}

.owlPrev {
    position: absolute;
    top: -180px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    left: 3px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owlNext {
    position: absolute;
    top: -180px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    right: 3px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carouselSinger {
    color: #c9c9c9;
    font-size: 0.8rem;
    font-weight: 500;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carouselTitle {
    width: 230px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.imgHover:hover .hoverNaviheart {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.imgHover:hover .hoverNaviplaylist {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.hoverNaviheart {
    position: absolute;
    bottom: 10px;
    right: 45px;
    opacity: 0;
    visibility: hidden;
}

.hoverNaviplaylist {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    visibility: hidden;

}

.NonClickHeart {
    filter: brightness(100%);
}

.NonClickPlaylist {
    filter: brightness(100%);
}

.onClickHeart {
    filter: invert(27%) sepia(94%) saturate(7461%) hue-rotate(356deg) brightness(100%) contrast(119%);
}