.container {
    max-width: 90%;
    padding-left: 250px;
    padding-right: 250px;
    height: 100vh;
    position: relative;
    transition: ease-in-out 0.5s;
}

@Media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding-left: 0px;
        transition: ease-in-out 0.5s;
    }
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.leftSide {
    max-width: 1100px;
    width: 70%;
    min-width: 900px;
    height: 100%;
    padding-right: 40px;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
}


.leftBottom {
    margin-bottom: 200px;
}

.rightSide {
    min-width: 400px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.positionFixed {
    position: fixed;
    min-width: 400px;
}

.RecentTitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 30px;
}

.RecentMusicBox {
    max-width: 920px;
    width: 100%;
    height: 245px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-image: linear-gradient(135deg, rgb(163, 163, 163) 0%, rgb(101, 101, 101) 100%);
}

.RecentImg {
    width: 200px;
    height: 100%;
    border: 1px solid white;
}

.RecentMusic {
    width: 80%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.RecentMusicOne {
    width: 100%;
    position: relative;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    float: left;
    border-bottom: 1px solid #e0e0e0;
}

.RecentMusicOne:hover {
    background-color: #999999;
}

.RecentSinger {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #dbdbdb;
    float: left;
}

.RecentMusic span {
    color: #dbdbdb;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.RecentSong {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    float: left;
}

.Listen {
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
}

.play {
    position: absolute;
    right: 80px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
}

.listenPerson {
    width: 70px;
    position: absolute;
    right: 0px;
    top: 8px;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.carouselTitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 30px;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.followArtist {
    width: 100%;
    margin-top: 30px;
    font-size: 0.8rem;
    color: #999999;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10px 5px 10px;
}

.loveYou {
    width: 100%;
    margin-top: 30px;
    font-size: 0.8rem;
    color: #999999;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10px 5px 10px;
}

.viewAll {
    font-size: 0.8rem;
    color: #999999;
    float: right;
    cursor: pointer;
}

.followIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
}

.followli {
    width: 100%;
    margin-top: 10px;
    margin-left: -30px !important;
    margin-bottom: 10px;
    display: inline-flex;
}

.followImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

.followSinger {
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

.followPersonIcon {
    font-size: 0.8rem !important;
    color: #999999;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.followPerson {
    font-size: 0.8rem;
    color: #777777;
    margin-left: 5px;
    float: left;
}

.like {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: -5px;
}

.loveli {
    width: 100%;
    margin-top: 10px;
    margin-left: -30px !important;
    margin-bottom: 10px;
    display: inline-flex;
}

.loveImg {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
}

.loveSinger {
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

.lovePersonIcon {
    font-size: 0.8rem !important;
    color: #999999;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.lovePerson {
    font-size: 0.8rem;
    color: #777777;
    margin-left: 5px;
    float: left;
}