.pad10{
    padding: 10px;
}

.reportcontainer{
    width: 100%;
    height: 100%;
    min-width: 600px;
    max-width: 1400px;
    min-height: 800px;
}

.ma{
    margin:auto;
}

.search {
    width: 35%;
}

.input_search {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input_search:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{
    box-sizing: border-box;
}

.container{
    margin:auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    min-width: 400px;
}

.border{
    border: 1px solid black;
}

.borderRad{
    border-radius: 10px;
}

.borderTB{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.boardLine{
    height: 40px;
    justify-content: center;
    align-items: center;
}

.announceLine{
    height: 60px;
    justify-content: center;
    align-items: center;
}

.announceLine:hover{
    background-color: #bbbbbb60;
    transition-duration: 0.4s;
    cursor: pointer;
}

.marginT30{
    margin-top: 30px;
}

.marginT50{
    margin-top: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vcenter{
    display: flex;
    align-items: center;
}

.hcenter{
    display: flex;
    justify-content: center;
}

.pl10{
    padding-left: 10px;
}

.pad10{
    padding: 10px;
}

.borderWrite{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.announceWrite{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 300px;
    min-height: 1100px;
}

.announceTitle{
    padding: 10px;
    margin: 10px;
}

.btnEven{
    display: flex;
    justify-content: space-evenly;
}

.editor {
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 370px;
}

.announceContents{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 300px;
    min-height: 700px;
}

.announceDetail{
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 950px;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    word-break: break-all;
}

.pagination {
    display: flex;
    justify-content: center;
}

.paginationItem {
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}

.paginationItem:hover {
    text-decoration: underline;
}

/* Detail CSS */

.reportContents{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 300px;
    min-height: 700px;
}

.reportDetail{
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 950px;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    word-break: break-all;
}

.reportAnswer{
    width: 100%;
    height: 100%;
    max-width: 750px;
    min-width: 300px;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px gray;
    margin-bottom: 24px;
}

.replyContents{
    width: 100%;
    height: 100%;
    min-height: 100px;
    overflow: hidden;
    word-break: break-all;
}

.replyBtnEven{
    display: flex;
    justify-content: space-evenly;
}

.snackpos{
    bottom: -650px;
}