.swal2PopUpHeWid {
    height: 600px !important;
    width: 450px !important;
}

.text {
    width: 260px;
    height: 370px;
    margin: auto !important;
    text-align: start !important;
}

.htmlContainer>div>:nth-child(6) {
    width: 280px;
}

.text>hr {
    margin-bottom: 15px;
}

.text>label,
p {
    font-size: 15px;
    margin: 0px !important;
    padding-bottom: 7px;
}

.text>input {
    width: 260px;
    height: 40px;
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    font-size: 15px;
}

.title {
    font-size: 20px;
}

.confirm {
    width: 100px;
    font-size: 16px !important;
    font-weight: 600;
    color: #fff !important;
    cursor: pointer !important;
    height: 40px;
    text-align: center;
    border: none !important;
    background-size: 300% 100% !important;
    -o-transition: all .4s ease-in-out !important;
    -webkit-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed) !important;
}

.confirm:hover {
    background-position: 100% 0 !important;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.confirm:focus {
    outline: none;
}

.cancel {
    width: 80px;
    font-size: 16px !important;
    font-weight: 600;
    color: #fff !important;
    cursor: pointer !important;
    height: 40px;
    text-align: center;
    border: none !important;
    background-size: 300% 100% !important;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376) !important;
}

.cancel:hover {
    background-position: 100% 0 !important;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.cancel:focus {
    outline: none;
}

.custom-swal-container>div {
    width: 260px;
    margin: auto;
}

.report {
    text-align: right;
}

.report:hover {
    cursor: pointer;
}