.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container2 {
    width: 70%;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.innerContainer {
    display: flex;
    align-items: center;
}

.track_info {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
}

.track_image {
    background-color: #1e1e1e;
}

.track_title_writer {
    background-color: #1e1e1e;
}

.profileImage {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: flex;

}

.innerContainer2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}

.profileContainer {
    display: flex;
}

.flexItemsCenterSpaceX2 {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.play_button {
    color: #4CAF50;
    cursor: pointer;
    transition: 0.2s;
    /* hover 시 애니메이션 효과를 위한 설정 추가 */
  }
  
  .play_button:hover {

    /* hover 시 확대 효과 */
    color: #FF4081;
  }