.album_detail_container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .album_image{
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album_image img {
    width: 250px !important;
    height: 250px !important;
    border-radius: 8px;
    object-fit: cover; /* 이미지가 컨테이너에 맞춰 조정됩니다 */
  }
  
  .album_writers {
    font-style: italic;
  }
  
  .album_tracks{
    list-style: none;
    padding: 0;
  }
  
  .track {
    display: flex;
    align-items: center;
    border: 1px solid silver;
  }
  
  .track_number {
    margin-right: 10px;
  }
  
  .track_title {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .track_duration {
    font-size: 0.8em;
  }
  .button_group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .button {
    background-color: none;
  }

  .button_custom {
    background-color: black; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove border if needed */
  }
  
  .icon_custom {
    color: white; /* Set the icon color */
  }
  .trackCol{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .mainAlbumTitle{
    margin-top: 15px;
  }
  .AlbumCols{
    margin-bottom: 10px;
  }

  .play_button {
    width: 100px;
    height: 100px;
    color: #4CAF50;
    cursor: pointer;
    transition: 0.2s;
    /* hover 시 애니메이션 효과를 위한 설정 추가 */
    margin: auto !important;
}

.play_button:hover {
    transform: scale(1.2);
    /* hover 시 확대 효과 */
    color: #FF4081;
}

.albuminfo{
  min-width: 300px; 
  background-color: whitesmoke;
  border-radius: 8px;
  border: 1px solid black;
}