.album_detail_container {
    display: flex;
    align-items: center;
  }
  
  .album_image img {
    max-width: 250px; /* 이미지 최대 크기 설정 */
  }
  
  .album_info {
    margin-left: 20px;
  }
  
  .album_writers {
    font-style: italic;
  }
  
  .album_tracks{
    list-style: none;
    padding: 0;
  }
  
  .track {
    display: flex;
    align-items: center;
  }
  
  .track_number {
    margin-right: 10px;
  }
  
  .track_title {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .track_duration {
    font-size: 0.8em;
  }
  .button_group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .button {
    background-color: none;
  }

  .button_custom {
    background-color: black; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove border if needed */
  }
  
  .icon_custom {
    color: white; /* Set the icon color */
  }
  