.titleBox{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.searchResultBox{
  width: 100%;
  margin-bottom: 100px;
}
.noSearchText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
