.container {
    overflow: auto;
    
}

.track_info {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

.linkContainer {
    display: flex;
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 글자색을 상위 요소의 상속된 색상으로 설정 */

    /* hover 효과 제거 */
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.track_image {
    margin-right: 20px;
}

.track_title {
    margin-right: 20px;
}

.play_button {
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.play_button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.like_share {
    display: flex;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.like {
    margin-right: 10px;
}
.buttoncontainer{
    width: 50%;
    /* display: none;  일단 끄지 마라*/
}

.track_info:hover .buttoncontainer {
    display: block;
  }
.buttonbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.largeIcon {
    font-size: 100px; /* 크기 변경 */
    transition: transform 0.3s ease; /* 변환에 대한 부드러운 효과 추가 */
}

.largeIcon:hover {
    cursor: pointer;
    transform: scale(1.1); /* 마우스 오버 시 약간 확대 */
}