
.none_track{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plsupload{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}