* {
    box-sizing: border-box;
}

.Dropzone {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadDetail {
    width: 50%;
    border: 1px solid black;
}


.chipRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropFiles {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.uploadBox {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button{
    background-color: #4CAF50;
    color: white;
    border: #45a049;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.Button:hover{
    background-color: #45a049;
    transform: scale(1.1);
}
