.user_info {
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

.Panel {
    height: 700px;
}

.like_edit {
    margin-left: auto;
}

.followersInfo {
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.infoItem,
.infoItemLast {
    height: 100px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-top: 10px;
    /* 내용 좌우 간격 조절 */
}

.infoItem {
    border-right: 1px solid #ccc;
}

.target_id_container {
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(245,245,245,0.5);
    border-radius: 10px;
    /* opacity: 0.5; */
}

.myreply {
    margin-top: 20px;
    margin-bottom: 100px;
    height: 500px;
    overflow: auto;
}

.commentList {
    margin-top: 10px;
    padding-right: 10px;
}

.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment:hover {
    background-color: whitesmoke;
}

.commentContent {
    margin-bottom: 5px;
}

.commentDate {
    font-size: 12px;
    color: #888;
}