.container {
    max-width: 90%;
    padding-left: 250px;
    padding-right: 250px;
    height: 100vh;
    position: relative;
    transition: ease-in-out 0.5s;
}

@Media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding-left: 0px;
        transition: ease-in-out 0.5s;
    }
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.leftSide {
    max-width: 1100px;
    width: 70%;
    min-width: 900px;
    height: 100%;
    padding-right: 40px;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
}


.leftBottom {
    margin-bottom: 200px;
}

.rightSide {
    min-width: 400px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}