.containerFluid {
    max-width: 1660px;
    height: 100%;
    color: rgb(220, 220, 220);
    font-size: 17px;
    display: block;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .containerFluid {
        max-width: 100%;
    }
}

.linksvg svg path {
    fill: white;
    transition: fill 0.3s ease;
}

.linksvg:hover svg path:nth-child(1) {
    fill: #2ECC71;
    transition-delay: 0s;
}

.linksvg:hover svg path:nth-child(2) {
    fill: #2ECC71;
    transition-delay: 0.2s;
}

.linksvg:hover svg path:nth-child(3) {
    fill: #2ECC71;
    transition-delay: 0.4s;
}

.linksvg:hover svg path:nth-child(4) {
    fill: #2ECC71;
    transition-delay: 0.6s;
}

.linksvg:hover svg path:nth-child(5) {
    fill: #2ECC71;
    transition-delay: 0.8s;
}

.NavSelect {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.linkurl {
    color: rgb(220, 220, 220);
    text-decoration: none;
    position: relative;
    width: 100%;
}

.activeLink {
    background-color: black;
    text-decoration: none;
    color: #2ECC71;
}

.linkurl:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.linkurl:hover div {
    background-color: black;
    text-decoration: none;
}

