.container {
    overflow: auto;
    width: 80%;
    margin-bottom: 150px;
    height: 800px;
}

.track_info {
    margin-top: 30px;
    display: flex;
    width: 98%;
    height: 120px;
    align-items: center;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 8px;
    transition: 0.2s;
    padding: 16px;
    margin-left: 10px;
}

.track_info:hover {
    transform: scale(1.01);
}

.track_duration {
    font-weight: bold;
}

.linkContainer {
    display: flex;
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 글자색을 상위 요소의 상속된 색상으로 설정 */

    /* hover 효과 제거 */
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.track_image {
    margin-right: 20px;
}

.track_title {
    margin-right: 20px;
}

.track_button {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 15%;
}

.play_button {
    width: 60px;
    height: 60px;
    transition: 0.2s;
    bottom: 10px;
    left: 130px;
    color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2px;
}

.play_button:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #FF4081;
}

.like_share {
    display: flex;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.like {
    margin-right: 10px;
}

.endMessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onClickHeart {
    filter: invert(27%) sepia(94%) saturate(7461%) hue-rotate(356deg) brightness(100%) contrast(119%);
    cursor: pointer;
}

.NonClickHeart {
    filter: brightness(50%);
    cursor: pointer;
}

.noneLogin {
    margin-top: 180px;
    margin-right: 200px;
}